.player-name {
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.name-color {
    color: #4aff07;
}

.width-calc {
    width: 20%;
}

.fixed-hw {
    height: 50px;
    width: 50px;
    font-weight: 700;
}